* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{   
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-top: 10rem;
    background-color: green ;
}
section {
    position: relative;
    left:40px;
}
.search {
    display:flex;
    justify-content: center;
}
